

/* //wrapper control each individual  box */
.wrapper{
    /* flex define the size of each box 33.3% 
    and gap is 25% so 33.3 is 3 box each row*/
    flex: '0 0 calc(25% - 25px)';
    background-color:white;
    height: 450px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
.imageBox img{
    width: 100%;
    object-fit: cover;

}
.contentBox{
    padding: 10px 0px 0px 20px;
}